#flexbox{
    display: flex;
    width: 70%;
    height: auto;
}
 .box-item img{
    max-width:50%;
    height:auto;
    
} 



.adidas{
    width:auto;
    height:auto;
    position: relative;
}
.adidas img{
    width:20%;
    height:auto;

    position: absolute;
    top: 0;
    left: 0;
    
}
.air1 img{
    width:75%;
    height:auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.air1 p{
    font-size: 1000%;
    font-weight:bold;

    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.air25 img{
    width:20%;
    height:auto;

    position: absolute;
    left: 20%;
    transform: translate(-50%,-50%);
}


















/*
.container{
    width:auto;
    height:auto;
    position: relative;
}
.container img{
    width:100%;
    height:auto;
}
.kasane{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: red;
}
*/