/*#flexbox{
    display: flex;
    width: 70%;
    height: auto;
}
 .box-item img{
    max-width:50%;
    height:auto;
    
} 
*/
.nike img{
    width: 20%;
    height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.imgcontent{
    margin-top: 300px;

}

.adidas{
    width:auto;
    height:auto;
    position: relative;
}
.adidas img{
    width:20%;
    height:auto;

    position: absolute;
    top: 0;
    left: 0;
    
}
.air1 img{
    width:100%;
    height:auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.air1 p{
    font-size: 1300%;
    font-weight:bold;

    position: absolute;
    background-color: blue;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.air25 img{
    width:20%;
    height:auto;

    position: absolute;
    left: 20%;
    transform: translate(-50%,-50%);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sai{
    width: 80%;
    margin: 0 auto;
}

#flexbox{
    display: flex;
    
}
#flexbox img{
   /* width: 200px;*/
   position: relative;
   top: 170%;
    left: 0%;
    width: 110%;
    height: auto;
}
/*.air1 img{
  width: 400px;
}
*/
