/*  スクロール禁止
html,body{
  overflow: hidden
}
*/






/* PC画面用*/
@media screen and (min-width: 900px) {

  

  main{
    overflow: hidden
  }


.logo{
  transform: scale(.45);
  position: relative;
  top: -4vh;
  left: -10vh;
}

.logoimg{
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}



.image{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  
}




.casualimg{
  height: 100vh;
  width: 50%;
  object-fit: cover;
}
.chicimg{
  height: 100vh;
  width: 50%;
  object-fit: cover;
}







.pcasual{
  position: absolute;
  top:45vh;
  left: 18vw;
  color: white;
  font-size: 320%;
  font-family: a-otf-ryumin-pr6n, serif;
  
}

.pchic{
  position: absolute;
  top: 45vh;
  left: 70vw;
  color: white;
  font-size: 320%;
  font-family: a-otf-ryumin-pr6n, serif;
}



}









/*スマホ？タブレット？用　画面サイズに合わせて表示方法変更*/
@media screen and (max-width: 900px) {
  main{
    background-color: black;
  }



  .logo{
    transform: scale(.45);
    position: relative;
    top: -4vh;
    left: -10vh;
  }
  
  
  
  .image{
    position: relative;
    
    justify-content: space-evenly;
    
  }

  .casualimg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .chicimg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  
  
  
  
  
  .logoimg{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  .pcasual{
    position: absolute;
    top:45vh;
    left: 33vw;
    color: white;
    font-size: 320%;
    font-family: a-otf-ryumin-pr6n, serif;
    
  }
  
  .pchic{
    position: absolute;
    top: 145vh;
    left: 33vw;
    color: white;
    font-size: 320%;
    font-family: a-otf-ryumin-pr6n, serif;
  }
	
}







/*文字アニメーション*/

@keyframes showText{
  0%{
    opacity: 0;
    transform: translateY(10px);
    
  }
  100%{
    opacity: 1;
  }
}
.pcasual span{
  display: inline-block;
  animation: showText 3s backwards;
  

  animation-iteration-count: infinite; /*アニメーションをn回再生する*/

}
.pchic span{
  display: inline-block;
  animation: showText 3s backwards;
  

  animation-iteration-count: infinite; /*アニメーションをn回再生する*/

}







