/*  スクロール禁止
html,body{
  overflow: hidden
}
*/
/* ローディング演出
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #999;
}
#loading_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.loading-one {
  display: inline-block;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.loading-one p.loading-txt {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.25em;
  line-height: 2.0;
  padding: 2em 0;
}
*/
/*ここまでローディング演出*/

/* 背景色を二分割する
body{
  background: linear-gradient(
    90deg,
    rgb(163,199,196) 0%,
    rgb(163,199,196) 50%,
    rgb(216,178,157) 50%,
    rgb(216,178,157) 100%
  ) ;
}
*/


/* PC画面用*/
@media screen and (min-width: 900px) {

  

  main{
    overflow: hidden
  }


.logo{
  transform: scale(.45);
  position: relative;
  top: -4vh;
  left: -10vh;
}

.logoimg{
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}



.image{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  
}




.casualimg{
  height: 100vh;
  width: 50%;
  object-fit: cover;
}
.chicimg{
  height: 100vh;
  width: 50%;
  object-fit: cover;
}








.pcasual{
  position: absolute;
  top:45vh;
  left: 18vw;
  color: white;
  font-size: 320%;
  font-family: a-otf-ryumin-pr6n, serif;
  
}

.pchic{
  position: absolute;
  top: 45vh;
  left: 70vw;
  color: white;
  font-size: 320%;
  font-family: a-otf-ryumin-pr6n, serif;
}



}









/*スマホ？タブレット？用　画面サイズに合わせて表示方法変更*/
@media screen and (max-width: 900px) {
  main{
    background-color: black;
  }



  .logo{
    transform: scale(.45);
    position: relative;
    top: -4vh;
    left: -10vh;
  }
  
  
  
  .image{
    position: relative;
    
    justify-content: space-evenly;
    
  }

  .casualimg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .chicimg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  
  
  
  
  
  .logoimg{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  .pcasual{
    position: absolute;
    top:45vh;
    left: 33vw;
    color: white;
    font-size: 320%;
    font-family: a-otf-ryumin-pr6n, serif;
    
  }
  
  .pchic{
    position: absolute;
    top: 145vh;
    left: 33vw;
    color: white;
    font-size: 320%;
    font-family: a-otf-ryumin-pr6n, serif;
  }
	
}







/*文字アニメーション　（テキトウ）*/

@keyframes showText{
  0%{
    opacity: 0;
    transform: translateY(10px);
    
  }
  100%{
    opacity: 1;
  }
}
.pcasual span{
  display: inline-block;
  animation: showText 3s backwards;
  

  animation-iteration-count: infinite; /*アニメーションをn回再生する*/

}
.pchic span{
  display: inline-block;
  animation: showText 3s backwards;
  

  animation-iteration-count: infinite; /*アニメーションをn回再生する*/

}







