
/*
.logo{
    transform: scale(.45);
    position: absolute;
    top: -2vh;
    left: -8vh;
  }
  */

  section{
    margin: 15% 0;
    
  }

 
.martenslogo{
  width: 13%;
  height: auto;
  position: relative;
  left: 0px;
  top: 60px;
}
 
.texts{
  font-size: 1200%;
  text-align: center;
}
._1460{
  font-size: 1000%;
}
._1461{
  font-size: 900%;
}
._2976{
  font-size: 800%;
}

  
._1460_top{
  margin-top: -155px;
  margin-left: 25vw;
  height: 80vh;
  width: 45%;
  object-fit: cover;
  object-position: 0% 65%;
}
.bottom{
  width: 25%;
  height: auto;
}


._1461_top{
  margin-top: -110px;
  margin-left: 18vw;
  height: 80vh;
  width: 65%;
  object-fit: cover;
  object-position: 0% 100%;
}

._2976_top{
  margin-top: 0px;
  margin-left: 25vw;
  height: 80vh;
  width: 50%;
  object-fit: cover;
}



























.flex{
  display: flex;
  
}




.introduce{
  font-size: 200%;
  margin: auto;
  text-align: center;
}










hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}





footer{
  background-color: black;
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 500%;
  text-align: center;
}
.white{
  color: white;
}




  a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}


main {
  background-color: #f1f1f1;
}


.main {
  margin: auto;
  overflow-x: hidden;
}

.footer {
  background-color: #f6f6f6;
  height: 200px;
  display: flex;
}

.footer div {
  margin: auto;
}


/* ヘッダー */
.header {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}

.header__title {
  width: 80px;
}


@media screen and (min-width: 1500px) {
  .header__title {
    width: 120px;
  }
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
}


@media screen and (min-width: 1500px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }
}


@media screen and (min-width: 1500px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}


@media screen and (min-width: 1500px) {
  .nav-items {
    padding-top: inherit;
    padding-bottom: inherit;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 25px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 1500px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}


/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 1500px) {
  .hamburger {
    display: none;
  }
}


.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
} 